- results.each do |result|
  .card
    - if result.banner.nil?
      = render partial: 'default_banner', locals: { alt: result.name }
    - else
      = render partial: 'banner', locals: { banner: result.banner, alt: result.name }
    .card-block
      %h4.card-title
        = result.name
        %small.text-muted.pull-right
          = result.network
      %p.card-text
        = result.overview
    .card-block.actions
      %button.btn.btn-primary.pull-right This One!
      .clearfix
      -# = link_to 'This One!', series_index_path, { method: :post, series: { name: result[:series_name], external_id: result[:id] } }, { class: 'btn btn-primary' }
