.container
  .row
    .col-sm-12
      %h1.display-3.text-center Morgflix
  .row#search-area{ style: 'display: none;' }
    .col-sm-12
      = form_tag('/series_search', method: 'get', class: 'form-inline', remote: true) do
        .form-group
          = label_tag(:q, 'Search Series', class: 'sr-only')
        .input-group
          = text_field_tag(:q, nil, class: 'form-control', placeholder: 'Add a Series...')
          .input-group-addon
            %button.btn
              %i.material-icons search
  %br
  .row#results{ style: 'display: none;' }
    .col-xs-12.col-sm-8.col-sm-offset-2
      = render partial: 'search_results', locals: { results: @results } if @results

  .row
    .col-xs-12.col-sm-4
      .card.card-morgflix
        .card-block
          %h4.card-title Recently Aired
        %ul.list-group.list-group-flush
          - @series.each do |ser|
            = render partial: 'series/preview', locals: { series: ser }
        .card-block.actions
          = link_to 'View All', series_index_path, class: 'btn btn-primary-outline'
          %button.btn.btn-success.pull-right#new_series{ type: 'button', aria: { label: 'Add a new Series' }} Add Series
