!!!
%html
  %head
    = render 'layouts/meta_tags'
    %script{:src => "assets/javascripts/head_js.js"}
    %title Morgflix
    = render 'layouts/icon_links'
    = stylesheet_link_tag 'application', media: 'all'
    = csrf_meta_tags
  %body
    = javascript_include_tag 'bower_components'
    = javascript_include_tag 'application'
    = render 'layouts/header'
    = render 'layouts/messages'
    = yield
